node_modules
dist
coverage
.nyc_output
package-lock.json

*lock*
cache
.vscode
deprecated

*.nc
*.pyc
.pi-subagents

shp
.ipynb_checkpoints
*.ipynb

*.tmp
*.png
*.tif
*.gif

Project_DanJiangKou/*
!Project_DanJiangKou/*.js
catalog/

Manifest.toml
.agents

*.pdf
*.typ
